/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/

@media (max-width: 677px) {
    .section-client .inner-item-client {
        display: flex;
        flex-wrap: wrap;
    }
    
    .section-client .inner-item-client > div {
        width: 100%;
    }
}